.report-hierarchy .react-bs-table table td {
    overflow: auto;
    text-overflow: default;
    white-space: normal !important;
}

.report-hierarchy .tr-level-1 {
    background-color: #e4e4e4;
}

.report-hierarchy .tr-level-2 {
    background-color: #f1f1f1;
}

.report-data-quality .tr-type-market {
    background-color: #e4e4e4;
}

.report-data-quality .percentage {
    font-size: 11px;
    text-align: center;
    width: 50px;
    padding: 1px;
}

.glyphicon-export:before {
    content: '';
}

.spinner-loader {
    background-image: url("../img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    min-height: 100px;
}