.report-hierarchy .react-bs-table table td {
    overflow: auto;
    text-overflow: default;
    white-space: normal;
}

.report-hierarchy .tr-level-1 {
    background-color: #e4e4e4;
}

.report-hierarchy .tr-level-2 {
    background-color: #f1f1f1;
}